<button><a href="/profile">Your profile</a></button> <a href="/logout"><button>Logout</button></a>
<h1>Welcome {{user.name}}. Your role is: {{capitalize user.role}}</h1>
<h2>Our list of products🔥💥</h2>

<div>
    {{#each payload}}
    <div>
        <h3>{{this.title}}</h3>
        <p>Category: {{capitalize this.category}}</p>
        <p>Description: {{this.description}}</p>
        <p>Price: ${{this.price}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>Available: {{this.status}}</p>
    </div>
    {{/each}}

    {{#if hasPrevPage}}
    <a href="/?limit={{limit}}&page={{prevPage}}&sort={{sort}}&category={{category}}"><button>⬅ Previous</button></a>
    {{/if}}

    {{#if hasNextPage}}
    <a href="/?limit={{limit}}&page={{nextPage}}&sort={{sort}}&category={{category}}"><button>Next ➡</button></a>
    {{/if}}
    <br><br>
    <div>
        <button>Add to cart</button>
    </div>

</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>